<a href="https://colab.research.google.com/github/stepkurniawan/network-analysis-wikipedia-journals/blob/main/3_Data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Analysis
To compare the dataset with the original paper

# Data Cleaning

In [ ]:
import networkx as nx
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('seaborn')
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')
import itertools

In [ ]:
#run this for google colab
! git clone https://github.com/stepkurniawan/network-analysis-wikipedia-journals.git
df_journal = pd.read_csv('/content/network-analysis-wikipedia-journals/files2/df_journal.csv')
df_num_citations = pd.read_csv('/content/network-analysis-wikipedia-journals/files2/df_num_citations.csv')
# dfnew = pd.read_csv('/content/dfnew.csv') # big df from data cleaning

fatal: destination path 'network-analysis-wikipedia-journals' already exists and is not an empty directory.

# Data Prep

In [ ]:
# run this for local
# df_journal = pd.read_csv('C:\\Users\\Beka\Documents\\GitHub\\network-analysis-wikipedia-journals\\files\\df_journal.csv')

In [ ]:
df_journal

         Unnamed: 0                                  page_title journal_name
0          27568282                             Aceria clianthi         Weta
1          24637003                         Thirdperson pronoun            w
2           1511789                                 Eoentelodon       transl
3          27129331                             Madanjeet Singh        subst
4          24341983  List of television stations in Mississippi          req
...             ...                                         ...          ...
1563709    28154158                  Castlevania Rondo of Blood          NaN
1563710    13614697                         Education in Brazil          NaN
1563711    13614696                                       Qormi          NaN
1563712     5902525                                    Hitta J3          NaN
1563713    20537377                       Cambodian jungle girl          NaN

[1563714 rows x 3 columns]

In [ ]:
df_journal.nunique()

Unnamed: 0      1563714
page_title       486737
journal_name     182226
dtype: int64

In [ ]:
df_journal['page_title']=df_journal['page_title'].str.lower()
df_journal

AttributeError: ignored

In [ ]:
df_num_citations = df_journal[['journal_name']].value_counts().reset_index(name='num_citation')
df_num_citations.head(10)

                                        journal_name  num_citation
0                                             Nature         21115
1                                               PNAS         18405
2                                            Science         15742
3                    Journal of Biological Chemistry         12229
4            The IUCN Red List of Threatened Species         10038
5                                           PLoS ONE          8919
6                                            Zootaxa          6869
7                                               Cell          5769
8  International Journal of Systematic and Evolut...          4549
9                                          Billboard          4488

In [ ]:
df_num_citations.nunique()

In [ ]:
df_groupby = df_journal.groupby('page_title')['journal_name'].apply(list)
df_groupby

In [ ]:
# find combination of all the journal name

iterations = itertools.combinations(df_groupby[2], 2)

for combi in iterations: 
    print(combi)

In [ ]:
# make list iterations based on the combinations

journal_relation_list = []

for page in range(len(df_groupby)):
    iterations = itertools.combinations(df_groupby[page], 2)
    for iter in iterations:
        journal_relation_list.append(iter)

#journal_relation_list

In [ ]:
df1 = pd.DataFrame (journal_relation_list, columns = ['journal1', 'journal2'])
df1['journal1'] = df1['journal1'].astype(str)
df1['journal2'] = df1['journal2'].astype(str)
df1 = df1[['journal1','journal2']] = pd.DataFrame(np.sort(df1[['journal1','journal2']].values), 
                                 index=df1.index, columns=['journal1','journal2'])
df1

In [ ]:
df2 = df1[['journal1', 'journal2']].value_counts().reset_index(name='weight')
df2.head(20)

In [ ]:
df3 = df2[df2.weight>=200]
df3

In [ ]:
df3.nunique()

In [ ]:
df3.hist(column='weight')

# Answering questio

In [ ]:
# 14K journals -> how many article in 1 journal? Mu and sigma

In [ ]:
# 2. simple mean and std of journals cited

df_num_citations.nunique()
print('mean of num_citation', df_num_citations.mean()) # 8.55975
print('standard deviation of num_citation', df_num_citations.std()) # 104.867143