<a href="https://colab.research.google.com/github/stepkurniawan/network-analysis-wikipedia-journals/blob/main/Stephen_Data_Preparation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
! git clone https://github.com/stepkurniawan/network-analysis-wikipedia-journals.git

Cloning into 'network-analysis-wikipedia-journals'...
remote: Enumerating objects: 7, done.
remote: Counting objects: 100% (7/7), done.
remote: Compressing objects: 100% (7/7), done.
remote: Total 7 (delta 1), reused 3 (delta 0), pack-reused 0
Unpacking objects: 100% (7/7), done.

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df_journal = pd.read_csv('/content/network-analysis-wikipedia-journals/df_journal.csv')

In [ ]:
df_journal

,Unnamed: 0,page_title,journal_name
0,3777,Overdeepening,Special Paper 337
1,3778,Ballitore,The Economic History Review
2,3779,Straffan,The Economic History Review
3,3780,The True Confessions of Charlotte Doyle,The Horn Book Magazine
4,3781,Carbohydrate sulfotransferase,FASEB J
...,...,...,...
1569775,29181994,The Origins of the Urban Crisis,The Journal for MultiMedia History
1569776,29181995,Laelia,Lindleyana
1569777,29181996,Muscle contraction,Br J Sports Med
1569778,29181998,Darrell Issa,Open Medicine (John Willinsky)
1569779,29182000,Chia seed,Nutr Hosp